@font-face {
    font-family: 'Zona-Pro';
    src: 
        url('ZonaPro-Regular.woff2') format('woff2'),
        url('ZonaPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zona-Pro';
    src: 
        url('ZonaPro-Bold.woff2') format('woff2'),
        url('ZonaPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zona-Pro';
    src: 
        url('ZonaPro-SemiBold.woff2') format('woff2'),
        url('ZonaPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: 
        url('MullerRegular.woff2') format('woff2'),
        url('MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: 
        url('Unbounded-Bold.woff2') format('woff2'),
        url('Unbounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: 
        url('Unbounded-Light.woff2') format('woff2'),
        url('Unbounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: 
        url('Unbounded-Medium.woff2') format('woff2'),
        url('Unbounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: 
        url('Unbounded-Regular.woff2') format('woff2'),
        url('Unbounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



