:root {
   --primary-font: 'Zona-Pro';
   --secondary-font: 'Unbounded';

   --accent-color: #ED7149;
   --secondary-color: #4674FD;
   --grey-color: #777780;
   --light-color: #fff;
   --dark-color: #000;
   --text-color: #2C2C2D;
   --gradient: linear-gradient(90deg, #E7442E 0%, #F19B64 100%);
}

html {
   box-sizing: border-box;
   height: 100%;
}

*,*::after,*::before {
   box-sizing: inherit;
}

body {
   min-width: 320px;
   height: 100%;
   background-color: #F8F9FA;
   color: var(--text-color);
   font-family: var(--primary-font);
   font-weight: 400;
   font-size: 16px;
   overflow-x: hidden;
}
body.lock {
   overflow: hidden;
}

img {
   height: auto;
   max-width: 100%;
   object-fit: cover;
}

a {
   display: inline-block;
   transition: all 0.3s;
   text-decoration: none;
}

.container {
   max-width: 1750px;
   margin: 0 auto;
   padding: 0 15px;
}

.btn-reset {
   border: none;
   padding: 0;
   background-color: transparent;
   cursor: pointer;
   transition: all 0.3s;
}

.btn {
   border-radius: 10px;
   font-family: var(--primary-font);
   font-weight: 400;
   font-size: 16px;
   color: var(--light-color);
   transition: all 0.3s;
}

.btn-primary {
   background: var(--gradient);
}
.btn-primary:hover {
   background: linear-gradient(90deg, #cf2913 0%, #d6824e 100%);
}

.btn-secondary {
   background-color: var(--secondary-color);
}
.btn-secondary:hover {
   background-color: #2959e7;
}

.list-reset {
   list-style: none;
   margin: 0;
   padding: 0;
}

.visually-hidden {
   position: absolute;
   overflow: hidden;
   margin: -1px;
   border: 0;
   padding: 0;
   width: 1px;
   height: 1px;
   clip: rect(0 0 0 0);
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1 1 auto;
}


/* -------------------------- Header ------------------------------ */
.header {
   padding: 46px 0;
   overflow: hidden;
}
.header-row {
   display: flex;
   align-items: center;
}
.header .logo {
   margin-right: 50px;
}
.header-tel a, .header-mobile-tel a {
   font-size: 20px;
   line-height: 142.5%;
   font-family: var(--primary-font);
   color: var(--text-color);
   text-transform: uppercase;
   transition: all 0.3s;
}
.header-tel a:hover {
   color: var(--accent-color);
}
.header-mobile-tel {
   display: none;
   align-items: center;
   column-gap: 15px;
   margin-bottom: 18px;
}
.header-nav {
   margin-left: auto;
   display: flex;
   align-items: center;
   column-gap: 55px;
   transition: all 0.3s;
   overflow-y: auto;
}
.header-nav.active {
   display: flex;
   visibility: visible;
   opacity: 1;
   transform: translateX(0);
}
.header-nav ul {
   display: flex;   
}
.header-nav ul li a {
   padding: 9px 25px;
   font-weight: 400;
   font-size: 16px;
   font-family: var(--primary-font);
   color: var(--text-color);
   line-height: 19px;
   transition: all 0.3s;
   position: relative;
   text-align: center;
}
.header-nav ul li {
   display: flex;
   align-items: center;
   column-gap: 10px;
}
.header-nav ul li:not(:last-child) a::after {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 1.5px;
   height: 100%;
   background-color: #DEDEEB;
}  
.header-nav ul li a:hover {
   color: var(--accent-color);
}
.header-nav ul li:last-child {
   display: none;
}
.header-nav ul li img {
   display: none;
}
.header-btn {
   padding: 15px 33px;
}
.header-burger {
   display: none;
   width: 30px;
   height: 16px;
   flex-direction: column;
   justify-content: space-between;
}
.header-burger span {
   width: 100%;
   height: 2px;
   background-color: var(--accent-color);
   transition: all 0.3s;
}
.header-burger.active {
   height: 22px;
}
.header-burger.active span:first-child {
   transform: rotate(45deg);
   transform-origin: left top;
}
.header-burger.active span:last-child {
   transform: rotate(-45deg);
   transform-origin: left bottom;
}
.header-burger.active span:nth-child(2) {
   transform: scale(0);
}
/* -------------------------- Header ------------------------------ */



/* -------------------------- Hero ------------------------------ */
.hero {
   padding: 92px 0 47px;
   background-image: url('../images/hero/hero-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.hero::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(23, 28, 27, 0.8);
}
.hero h1 {
   max-width: 884px;
   font-family: var(--secondary-font);
   font-weight: 500;
   font-size: 50px;
   color: var(--light-color);
   line-height: 65px;
   text-transform: uppercase;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 25px;
}
.hero p {
   max-width: 416px;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: var(--light-color);
   margin: 0 auto;
   margin-bottom: 36px;
}
.hero-content {
   position: relative;  
   z-index: 3;
}
.hero-mobile-btns {
   display: none;
   column-gap: 20px;
}
.hero-mobile-btns a {
   padding: 15px 57px;
   background-color: var(--light-color);
   border-radius: 10px;
   font-weight: 400;
   font-size: 16px;
   line-height: 142.5%;
   color: var(--text-color);
}
/* -------------------------- Hero ------------------------------ */



/* -------------------------- Appartments-form ------------------------------ */
.appartments-form {
   max-width: 1190px;
   margin: 0 auto;
   padding: 30px 66px 40px;
   background-color: var(--light-color);
   border: 1px solid #000000;
   border-radius: 20px;
}
.appartments-switchs {
   margin-bottom: 26px;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 28px;
   position: relative;
}
.appartments-switchs::after {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 1px;
   height: 100%;
   background-color: #DEDEEB;
}
.appartments-switchs button {
   font-weight: 400;
   font-size: 16px;
   line-height: 142.5%;
   color: var(--text-color);
   padding: 5px 22px;
   transition: all 0.3s;
   border-radius: 6px;
}
.appartments-switchs button:hover {
   background-color: var(--dark-color);
   color: var(--light-color);
}
.appartments-switchs button.active {
   background-color: var(--dark-color);
   color: var(--light-color);
}
.appartments-form form {
   display: flex;
   justify-content: space-between;
   column-gap: 80px;
}
.appartments-form form h4 {
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
   color: var(--grey-color);
   margin: 0;
   margin-bottom: 5px;
}
.appartments-select .choices {
   width: 197px;
}
.appartments-select .choices::after {
   display: none;
}
.appartments-select .choices::before {
   content: '';
   position: absolute;
   right: 15px;
   top: 50%;
   transform: translateY(-50%);
   background-image: url('../images/hero/select-arrow.svg');
   width: 10px;
   height: 6px;
}
.appartments-select .choices.is-open::before {
   transform: rotate(180deg);
}
.appartments-select .choices__inner {
   padding: 7px 15px;
   border: 1px solid #DEDEEB;
   border-radius: 5px;
   background-color: var(--light-color);
   min-height: auto;
}
.appartments-select .choices__list--single {
   padding: 0;
}
.appartments-select .choices__item {
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: var(--text-color);
   opacity: 1;
}
.appartments-select .choices__list--dropdown .choices__item--selectable.is-highlighted::after {
   display: none;
}
.appartments-select .choices__list--dropdown .choices__item {
   padding-right: 10px;
}
.appartments-select .choices__list--dropdown .choices__item:hover {
   background-color: var(--accent-color);
   color: var(--light-color);
}
.appartments-inputs {
   display: flex;
   column-gap: 15px;
}
.appartments-input-box {
   position: relative;
   width: 197px;
}
.appartments-input-box input {
   width: 100%;
   border: 1px solid #DEDEEB;
   padding: 7px 35px 7px 15px;
   border-radius: 5px;
   font-family: var(--primary-font);
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: var(--text-color);
}
.appartments-input-box input:focus {
   outline: 1px solid var(--accent-color);
}
.appartments-input-box span {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 15px;
   font-family: var(--primary-font);
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
   color: var(--text-color);
}
.appartments-rooms ul {
   display: flex;
   column-gap: 10px;
}
.appartments-rooms ul li button {
   padding: 10px 15px;
   font-family: var(--primary-font);
   font-weight: 400;
   font-size: 16px;
   border: 1px solid #DEDEEB;
   border-radius: 5px;
   color: var(--grey-color);
}
.appartments-rooms ul li button:hover,  .appartments-rooms ul li button.active{
   color: var(--accent-color);
   border: 1px solid var(--accent-color);
}
.appartments-buttons {
   margin-top: 40px;
   display: flex;
   justify-content: center;
   column-gap: 15px;
}
.appartments-buttons button:first-child {
   padding: 15px 46px;
}  
.appartments-buttons button:last-child {
   padding: 15px 57px;
}
/* -------------------------- Appartments-form ------------------------------ */


/* -------------------------- Exclusive-offers ------------------------------ */
.exclusive-offers {
   padding: 75px 0;
}
.exclusive-offers-top {
   display: flex;
   align-items: end;
   justify-content: space-between;
   margin-bottom: 45px;
}
.exclusive-offers-top h2 {
   max-width: 337px;
   font-family: var(--secondary-font);
   font-weight: 500;
   font-size: 35px;
   line-height: 50px;
   margin: 0;
}
.exclusive-offers-btn, .exclusive-offers-mobile-btn {
   display: flex;
   align-items: center;
   column-gap: 10px;
   font-weight: 400;
   font-size: 16px;
   color: var(--text-color);
}
.exclusive-offers-btn svg {
   stroke: var(--text-color);
   transition: all 0.3s;
}
.exclusive-offers-btn:hover, .exclusive-offers-btn:hover svg {
   color: var(--accent-color);
   stroke: var(--accent-color);
}
.exclusive-offers-mobile-btn {
   margin-top: 30px;
   justify-content: center;
   display: none;
}
/* -------------------------- Exclusive-offers ------------------------------ */



/* -------------------------- Card ------------------------------ */
.card {
   max-width: 415px;
   width: 100%;
   position: relative;
}
.card .card-img {
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   overflow: hidden;
   height: 231px;
}  
.card .card-img img {
   transition: all 0.3s;
   height: 100%;
}
.card .card-img:hover img {
   transform: scale(1.1);
}
.card .card-info {
   background-color: var(--light-color);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   padding: 25px 37px 28px 25px;
}
.card .card-name {
   font-weight: 600;
   font-size: 22px;
   line-height: 22px;
   color: var(--accent-color);
   margin-bottom: 10px;
}
.card .card-adress {
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: var(--grey-color);
   margin-bottom: 34px;
}
.card .card-date {
   font-weight: 400;
   font-size: 14px;
   color: var(--grey-color);
   margin-bottom: 10px;
}
.card .card-price {
   font-weight: 600;
   font-size: 22px;
   color: var(--text-color);
}
.card .card-icon {
   position: absolute;
   right: 37px;
   bottom: 28px;
}
/* -------------------------- Card ------------------------------ */



/* -------------------------- Info ------------------------------ */
.info {
   padding: 150px 0 75px 0;
}
.info-row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}
.info h2 {
   max-width: 342px;
   font-family: var(--secondary-font);
   font-weight: 500;
   font-size: 35px;
   line-height: 60px;
   color: var(--text-color);
   margin: 0;
}
.info h2 span {
   color: var(--accent-color);
}
.info p {
   max-width: 850px;
   margin: 0;
   font-size: 16px;
   line-height: 35px;
   color: var(--grey-color);
}
/* -------------------------- Info ------------------------------ */



/* -------------------------- Menu ------------------------------ */
.menu {
   padding: 75px 0;
}
.menu-row {
   padding: 65px 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 20px;
   row-gap: 30px;
}
.menu-item {
   max-width: 415px;
   width: 100%;
}
.menu-item-img {
   width: 100%;
   height: 232px;
   margin-bottom: 20px;
}
.menu-item-img img {
   height: 100%;
}
.menu-item h3 {
   max-width: 222px;
   font-family: var(--secondary-font);
   font-weight: 500;
   font-size: 25px;
   line-height: 35px;
   color: var(--text-color);
   margin: 0;
   margin-bottom: 15px;
}
.menu-item ul {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}
.menu-item ul li a {
   font-weight: 400;
   font-size: 16px;
   color: var(--grey-color);
   text-decoration: underline;
}
.menu-item ul li a:hover {
   color: var(--accent-color);
}
/* -------------------------- Menu ------------------------------ */








